/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    /* --fixed-width: 620px; */
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
/* Nav */
.navbar-nav a {
    color: black !important;
}

.navbar-nav a:active {
    color: #0f8bea;
}

.navbar-nav a:hover {
    background: #0f8bea;
    color: white !important;
    border-radius: 20px;
    width: 120px;
    text-align: center;
}

a {
    text-decoration: none;
}
.fixed-top {
    background-color: white;
    color: #eeeeee;
    margin-top: 0px;
}

.social {
    margin-left: 3em;
}

.social a:hover {
    background: #0f8bea !important;
    color: white;
}

/*  Hero page  */
.main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-item {
    width: 100%;
    height: 650px;
    position: relative !important;
}
.main img {
    width: 100%;
}

.blue-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
    margin-bottom: 200px;
}
.carousel-caption h1 {
    font-size: 3.2rem;
    color: white;
}

.globe {
    background: #0f8bea;
    color: white;
    width: 25rem;
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 5px;
    margin-top: 0px;
}

.services {
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.security {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sec-logo {
    width: 18%;
    height: 85px;
}

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }
    .carousel-item {
        width: 100%;
        height: 240px;
        position: relative !important;
    }

    .carousel-caption h1 {
        font-size: 2rem;
        color: white;
    }

    .what-we-do h1 {
        border-bottom-style: ridge;
    }
    .what-we-do p {
        text-align: justify;
    }

    .service-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .service-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }

    .heading {
        border-bottom-style: ridge;
    }
}

/*  Our offer (Packages) */

.services {
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.security {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sec-logo {
    width: 18%;
    height: 85px;
}

/* what we do  */
.what-we-do {
    border-radius: 1em;
}

.service-container {
    border: 1px solid #0f3f6d;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;
}

.service-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  Our offer (Packages) */
.heading {
    text-align: center;
}
.heading h6 {
    color: #108bea;
}
.section {
    padding-top: 1em;
}
.special-bg {
    background-color: #0f3f6d;
    border-radius: 1em;
    height: 500px;
    padding: 15px;
    color: white;
    text-align: justify;
}

.special-bg p {
    text-align: justify;
}
.cctv,
.intercoms,
.ElectricFence,
.alarm,
.SolarInverter,
.DSTV {
    margin-bottom: 2em;
}
.sectionHead {
    height: 146px;
}
.EstateSolution,
.sales {
    background-color: #0f3f6d;
    color: white;
    border-radius: 1em;
    margin-top: 1em;
    padding: 18px;
    text-align: justify;
}

.EstateSolution ul {
    text-align: left;
}
.sales {
    height: 263px;
}
ul {
    list-style-type: circle;
}
.flex-box {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 1;
}
.training {
    margin: 2em;
}
.training h4 {
    text-align: center;
    font-family: fantasy;

    padding-top: 2em;
}

.training h6 {
    text-align: center;
}
.training h5 {
    text-align: center;
    color: #108bea;
}
.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.training-btn {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.training-btn:hover {
    color: black;
}
.special-bg-2 {
    background-color: #108bea;
    color: white;
    border-radius: 1em;
}
.training-bg {
    background-color: white;
    color: black;
    border-radius: 0.5em;
    height: 17em;
    margin-bottom: 1em;
}
.training-bg:hover {
    background-color: #f0f2f4;
}
.traning-header {
    border-radius: 0.5em;
    height: 3.5em;
    background-color: black;
}
.traning-header h4 {
    color: white;
    font-weight: 100;
}
ul {
    text-align: center;
}
ul li {
    display: block;
}

@media screen and (max-width: 1040px) {
    .training-bg p {
        font-size: small;
    }
}

@media screen and (max-width: 767px) {
    .training-bg p {
        font-size: large;
    }
}

/* about us */

/*Gallery*/

/* contact us  */
.contact {
    background: #0f3f6d;
    color: #f8f9fa;
}
.contact-hr {
    color: #f8f9fa;
    background: #f8f9fa;
}

.contact-btn {
    background: #0f3f6d;
    color: #f8f9fa;
    margin-top: 2rem;
    width: 150px;
}

.contact-btn:hover,
:focus {
    background: #212529;
    color: #f8f9fa;
}

/*  Testimonial  */

.team {
    margin-left: auto;
    margin-right: auto;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
:focus {
    /* background: #ddd; */
    text-decoration: none;
    /* color: #555; */
}

/*  Testimonial  */

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #f8f9fa;
}
.title {
    text-align: center;
    margin-bottom: 4rem;
}
.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 80vw;
    max-width: var(--fixed-width);
}
.review {
    background: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
    margin: 0 auto;
    width: 70%;
    text-align: justify;
}
.review:hover {
    box-shadow: var(--dark-shadow);
}
.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
#person-img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--clr-primary-5);
    color: var(--clr-white);
}
.img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-primary-5);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}
#author {
    margin-bottom: 0.25rem;
}
#job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
}
#info {
    margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
    color: var(--clr-primary-5);
}
.random-btn {
    margin-top: 0.5rem;
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    transition: var(--transition);
    border-color: var(--clr-primary-5);
    cursor: pointer;
}
.random-btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
}

/* footer  */
.email {
    width: 280px;
}
